@import '~antd/dist/antd.css';

.logo {
    width: 50%;
    float: left;
    color: white;
    text-shadow: 2px 3px 6px #000;
    font-weight: bolder;
    font-size: 20px;
}
.menu {
    background-color: black;
}
.map-section {
    background-color: white;
    overflow: hidden;
    height: 400px;
}
.marker {
    background-image: url('./Components/Map/marker.png');
    background-size: cover;
    width: 25px;
    height: 40px;
}
.cards-container {
    padding: 20px;
}
.large-container {
    height: 600px;
    width: 100%;
    background-color: 1890ff;
    text-align: center;
    padding: 100px 10px;
}
.select-km {
    width: 45%;
    position: absolute;
    top: 12%;
    background: transparent;
    right: 1%;
}
.select-cat {
    width: 45%;
    position: absolute;
    top: 12%;
    background: transparent;
    left: 1%;
}
.google-btn {
    width: 100%;
    /* margin: auto; */
    padding-top: 150px;
    text-align: center;
}
.tab-section {
    padding: 20px;
}
.result {
    text-align: right;
    float: right;
    width: 50%;
}
.writer {
    padding: 40px;
}
.writer-b {
    margin-bottom: 30px;
}
