@import '~antd/dist/antd.css';

.logo {
    width: 150px;
    float: left;
    color: white;
    text-shadow: 2px 3px 6px #000;
    font-weight: bolder;
    font-size: 20px;
}
.menu {
    background-color: black;
}
.map-section {
    background-color: white;
    overflow: hidden;
    height: 400px;
}
.marker {
    background-image: url('./Components/Map/marker.png');
    background-size: cover;
    width: 30px;
    height: 50px;
}
.cards-container {
    padding: 20px;
}
.spinner-container {
    height: 600px;
    width: 100%;
    background-color: 1890ff;
    text-align: center;
    padding-top: 200px;
}
.select-km {
    width: 50%;
    position: absolute;
    top: 12%;
    background: transparent;
    left: 1%;
}
